# Build folders
/build/
/dist/
/out/
/Output/
/nes/

# Node.js dependencies
node_modules/

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp
*.bak

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# Tauri build artifacts
src-tauri/target/